*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #181818; padding: 24px 0;
}
.container{
    max-width: 1200px; margin: auto;
}
.d_flex{
    display: flex;
    justify-content: space-between; align-items: center;
}
.logo{
    margin: 0 32px;
}
#navbar{
    list-style: none; display: flex;
}
.item_1{
    margin-left: 56px;
}
.item_2{
    margin-left: 32px;
}
.item_3{
    margin-left: 51px;
}
header nav li a{
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
.link_1{
    font-size: 13px;
}
.link_5{
    background: #FFFFFF; border-radius: 14px;
    padding: 9px 20px 13px 20px;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
}
.section{
    background-size: cover; height: 100vh;
    display: flex; justify-content: center;
    align-items: flex-end; padding-bottom: 71px;
    box-sizing: border-box;
}
.container_section{
    max-width: 580px; text-align: center; color: #FFFFFF;
}
.title_1{
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
}
.title_2{
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase; color: #C0C0C0;
}
.text{
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px; color: #C0C0C0;
}